.header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d3d3d3;
    min-height: 90px;
}
.header__title {
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 52px;
    color: #ffffff;
    align-self: center;
    margin: 10px 0 10px;
}